
body {
	background-color: #f6f6f6;
	font-size: 14px;
	font-weight: 400;
	font-family: "Nunito", "Segoe UI", arial;
	color: #6c757d;
}

.top_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box_2 {
	display: flex;
	align-items: center;
	background: #e7e8e9;
	padding: 15px;
	border-radius: 30px;
	gap: 5px;
}

.box h1 {
	margin-bottom: 0;
	font-weight: 700;
	display: inline-block;
	font-size: 24px;
	margin-top: 3px;
	color: #34395e;
}

.box_2 a {
	color: #6777ef;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.dev_1 {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 34px;
	border-radius: 30px;
}

.dev:nth-child(1) .dev_1:nth-child(1) {
	background: linear-gradient(135deg, #f48665 0, #fda23f 100%);
}

.dev:nth-child(2) .dev_1:nth-child(2) {
	background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
}

.dev:nth-child(3) .dev_1:nth-child(3) {
	background: linear-gradient(135deg, #23bdb8 0, #43e794 100%);
}


.dev {
	margin-bottom: 10px;
}

.blocks {
	width: 30%;
	height: 129px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 13px;
	padding: 22px;
	box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
	0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
	0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
	0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.arrow {
	color: #fc544b;
	font-size: 16px;
}

.dunn {
	color: #fc544b;
}

.arrow_color {
	color: #54ca68;
}

.dunn_rock {
	color: #54ca68;
}

.icon_color {
	color: #fff;
}

.icon_color2 {
	color: #fff;
}

.icon_color3 {
	color: #fff;
}

.top_chart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
	margin-right: 4px;
}
